body{
  margin:0;
}

.pizza-creator-app{
  display: flex;
  margin-left: -2rem;
  min-height:100vh;
}

.pizza-creator-app > *{
  padding-left: 2rem;
}

.pizza{
  width:500px;
  height:350px;
  position:relative;
}  
.pizza > *{
  position: absolute;

}

.pizza > .pizza-base{
  left: 90px;
  width: 75%;
}
.pizza > .pizza-board{
  width: 100%;
}
.pizza > .pizza-toppings{   
  width: 70%;
  left: 100px;
}

.pizza img{
  margin: 100px 20px 0;
}

.pizza-toppings img{   /*order maters -> .pizza img*/
 margin-top: 120px;
 position: absolute;
}

.pizza-viewer{
  background-color: #3a424f;
}

.form{
  padding-right: 2rem;
}

h1{
  color:#6E7790;
  font-size:40px;
  font-weight:500;
  margin:2rem 0;
}

h2{
  color:#6E7790;
  font-size:22px;
  font-weight:300;
}


.details-container{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-gap:2rem;
}
.detail label{
  display: block;
  color:#6E7790;
  font-weight: bold;
  font-size:0.8rem;
}
.detail input{
  display: block;
  border-radius:2px;
  font-size: 1.2rem;
  color: rgba(0,0,0,0.8);
  padding: 0.5rem 1rem;
  border:1px solid #d7d7e7;
}

.toppings-container{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-gap:2rem;
  

}
.topping{
  display: flex;
  align-items: center;
  outline: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  background:#f2f2f2;
  /*border-radius: 3px;*/
}


.topping.active{

  background: #1a98e1;
  color: white;
}


.topping span{
  padding-right: 1rem;
}
.topping img{
  width: 40px;
  height:40px;
  padding:5px;
  box-sizing: border-box;
  margin-right:1rem;
  background-color: #e6e6e6;
  
}

.price{
  float: right;
}

.total-price{
  font-size: 1.5rem;
  text-align: right;
}

button[type="submit"]{
  background-color: #98c550;
  border:0;
  width:100%;
  font-size: 1.2rem;
  padding:10px 15px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.summary{
  color:rgba(0,0,0,0.7);
}

button[type="submit"]:hover{
  background-color: #90ce2e;
}

